{% extends "core/base.html" %}
{% block content %}
<div class="col-md-8">
     <div class="content-section">
          <div class= "mb-4 ml-4">
          <h1>Nesy here,</h1></br>
          <p>Well, I made this and it sucks at the moment, but I'll see what I can do and hopefully
          I will be able to deploy this site in December.</p></br>
          <p>This is my first site for crap and giggles, Meant to only give me experience. A pet project of 
          sorts</p>
          <h3>Current Functionality</h3>
          <ul>
               <li>Registration and login system</li>
               <li>Update and delete function for posts</li>
               <li>Users can post Raves</li>
               <li>Profile picture upload</li>
               <li>Email reset password and more</li>
          </ul></br>
          <h3>Pending Functionality</h3>
          <ul>
               <li>Comment and like system</li>
               <li>Messaging system</li>
               <li>Hashtag system</li>
               <li>Follow system</li>
               <li>Email notification system</li>
               <li>User Bio</li>
               <li>Search bar Functionality and Hot Topic system</li>
          </ul>
          </div>
     </div>
</div>
{% endblock content %}
