{% extends 'core/base.html' %}

{% block content %}
<div class="main-header main-header-forum anim row" style="--delay: 0s">
     <div class="col-md-10">Home</div>  
     <div class="filter-wrapper col-md-2">
        <i class="fi-rr-settings-sliders"></i>
        <div class="filter-name">FILTERS</div>
     </div>
  </div>
     <div class="anim" style="--delay: .1s">
        <div class="row">
           <div class="content-section col-md-8">
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
          </div>  
     </div>
     </div>
{% endblock %}