{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}create channel{% endblock %}

{% block content %}
<div class="container-lg bg-blue-200 py-6  mx-auto flex justify-center items-center">
    <div class="p-6 text-center">
        <h1 class="capitalize">Welcome to VideoClub</h1>
        <p class="text-xl">share your video content with millions of viewers</p>

        <div class="fixed top-0 left-0 w-full h-full z-10 overflow-auto" id="modal" style="background-color: rgba(0,0,0,0.3);">
        <div class="modal-content bg-white mx-auto  mt-56">
            <div class="modal-header py-4 border-b">
               <h2 class="text-3xl uppercase inline-block">create your channel </h2>
            </div>
            <div class="modal-body py-8">
                <form action="." method="POST">
                    <div class="my-6">
                        {%csrf_token%}
                        {{channel_form|crispy}}
                    </div>
                    <div class="modal-footer border-t py-8">
                       <button type="submit" class="py-3 px-6 mr-2">Create</button>
                   </div>
                  </form>
            </div>
           
        </div>
    </div>              
</div>
</div>

{% endblock %}
