{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}create channel{% endblock %}

{% block content %}
<div class="content-section">
<div class="row p-5">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Software</td>
                    <td>LTS Versions</td>
                    <td>21</td>
                    <td>$321</td>
                    <td>$3452</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Software</td>
                    <td>Support</td>
                    <td>234</td>
                    <td>$6356</td>
                    <td>$23423</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Software</td>
                    <td>Sofware Collection</td>
                    <td>4534</td>
                    <td>$354</td>
                    <td>$23434</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}