{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% load v_duration %}

<div class="main-header anim row" style="--delay: 0s">
  <div class="col-md-10">Tapes</div>  
  <div class="filter-wrapper col-md-2">
     <i class="fi-rr-settings-sliders"></i>
     <div class="filter-name">FILTERS</div>
  </div>
</div>
<div class="videos">
  {% for video in videos %}
  <div class="video anim" style="--delay: .4s">
  <div class="video-time text-light">{{video.video.url | vduration}}</div>
  <div class="video-wrapper">
    <a href="{{ video.get_absolute_url }}"><img src="{{ video.videodetail.thumbnail.url }}" alt=""></a>
  <div class="author-img__wrapper video-author">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
    <path d="M20 6L9 17l-5-5" />
    </svg>
    <img class="author-img" src="{{ video.user.profile.image.url }}" />
  </div>
  </div>
  <div class="video-by">{{ video.user }}</div>
  <div class="video-name"><a href="{{ video.get_absolute_url }}">{{ video.videodetail.title }}</a></div>
  <div class="video-view">{{video.view_count.count}} views <span class="seperate video-seperate"></span>{{ video.uploaded|naturaltime }}</div>
  </div>
  {% endfor %}
</div>




{% endblock %}