{% extends "core/base.html" %}
{% load humanize %}
{% load filter_tags %}
{% block content %}
<div class="col-md-8">
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
      <p><a href="{% url 'followers' user.username %}">Followers: {{ user.profile.followed_by.count }}</a></p>
      <p><a href="{% url 'following' user.username %}"> Follows: {{ user.profile.follows.count }}</a></p>

      {% if user == request.user %}
        <a href="{% url 'profile_update'%}" class="button is-success">Update Profile</a>
      {% endif %}

      {% if user != request.user %}
          <a href="{% url 'conversation' user.id %}" class="button button is-info">Message</a>
          {% if request.user.profile in user.profile.followed_by.all %}
          <a href="{% url 'unfollow_user' user.username %}" class="button is-danger">Unfollow</a>
          {% else %}
          <a href="{% url 'follow_user' user.username %}" class="button is-success">Follow</a>
          {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<div class="content-section">
      {% for post in user.post_set.all %}
      <article class="post-model row">
           <div class="post-votes col-md-1">
             <div class="vote"><i class="bx bx-up-arrow-alt up-vote"></i></div>
             <div class="vote"><span class="vote-count">40</span></div>
             <div class="vote"><i class="bx bx-down-arrow-alt down-vote"></i></div>
           </div>
   
             <div class="post-body col-md-11">
               <h2><a class="post-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
               <p class="post-content">{{ post.content|safe }}</p>
   
                <div class="post-tags">
                {% with post.tags|split:',' as tags %}
                {% for tag in tags %}
                  <span class="post-tag mr-2">{{ tag }}</span>
                {% endfor %}
                {% endwith %}
                </div>
               <div class="post-metadata">
                 <img class="rounded-circle post-img" src="{{ post.created_by.profile.image.url }}">
                 <span class="post-user">Asked by <a href="{% url 'user-posts' post.created_by.username %}">{{ post.created_by }}</a></span>
                 <span class="post-time">{{ post.created_at|naturaltime}}</span>
                 <span class="post-comments"><i class='bx bx-comment'></i> 60+</span>
               </div>
           </div>
      </article>
      {% endfor %}
  
</div>
</div>


{% endblock content %}