{% extends "core/base.html" %}
{% load humanize %}
{% load static %}
{% load filter_tags %}
{% block content %}

<!-- Display for primary user information -->
<div class="user-identifiers avatar-body">
  <img class = "profile-art" src="{% static 'core/img/default_art.jpg' %}" alt="">
  <div class="row">
    <div class="col-md-1">
      <img class="profile-img rounded-circle account-img" src="{{ user.profile.image.url }}">
    </div>
    <div class="col-md-11 pl-5 align-middle">
      <h2 class="account-heading">{{ user.username }}</h2>
    </div>
  </div>
</div>
<!-- End of display -->

  <!-- Section for the users posts -->
  <div class="content-section col-md-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Navbar for the tabs -->
    <ul class="nav nav-tabs">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" data-toggle="tab" href="#home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#questions">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tapes">Tapes</a>
      </li>
    </ul>
    <!-- End of navbar for the tabs -->

    <div class="tab-content">
      <!-- Tab page that shows all objects associated with user -->
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
      <!-- End of first tab -->

      <!-- Tab page that shows the user's posts on the Forum app -->
      <div id="questions" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="wrapper wrapper-content">
                <div class="ibox-content forum-container">
                  <div class="forum-title">
                    <div class="pull-right forum-desc">
                      <samll>Total posts: {{ user.post_set.all.count }}</samll>
                    </div>
                    <h3>Questions</h3>
                  </div>
                  <!-- Beginning of loop that shows all of the users posts -->
                  {% for post in user.post_set.all %}
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="{% url 'detail' post.id %}" class="forum-item-title">{{ post.title }}</a>
                                <div class="post-tags">
                                  {% with post.tags|split:',' as tags %}
                                  {% for tag in tags %}
                                      <span class="post-tag mr-2">{{ tag }}</span>
                                    {% endfor %}
                                  {% endwith %}
                                  <small>Asked by <a href="{% url 'user-posts' post.created_by.username %}">{{ post.created_by }}</a></small>
                                <small>{{ post.created_at|naturaltime}}</small>
                                </div>
                            </div>
                            <div class="col-md-2 forum-info">
                              <div class="avatar-group avatar-group-overlapped mr-40 mt-25">
                                <div class="avatar">
                                    <img src="{{ post.created_by.profile.image.url }}" alt="user" class="avatar-img rounded-circle">
                                </div>
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" class="avatar-img rounded-circle">
                                </div>
                                <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="avatar-img rounded-circle">
                                </div>
                            </div>
                                <div> 
                                    <small>Users</small>
                                </div>
                            </div>
  
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    {{ post.upvote_set.count }}
                                </span>
                                <div>
                                    <small>Votes</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    140
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                  <!-- End of loop for displaying posts -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab that shows all of the users Tapes -->
      <div id="tapes" class="tab-pane fade">
        <div class="container">
          <div class="row">
               <div class="col-lg-12">
                    <h2 class="title">Uploads</h2>
               </div>
          </div>
          
          <section class="video-section">
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
               <article class="video-container">
                 <a href="#" class="thumbnail" data-duration="12:24">
                   <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                 </a>
                 <div class="video-bottom-section">
                   <a href="#">
                     <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                   </a>
                   <div class="video-details">
                     <a href="#" class="video-title">Video Title</a>
                     <a href="#" class="video-channel-name">Channel Name</a>
                     <div class="video-metadata">
                       <span>12K views</span>
                       •
                       <span>1 week ago</span>
                     </div>
                   </div>
                 </div>
               </article>
           </section>
     </div>
      </div>
      <!-- End of the tab that ahows users posts -->
    </div>
  </div>
 
<!-- Section for the side bar -->
  <div class="col-md-4">
    <div class="content-section">
      <p class="user-bio">This is an example of a user's bio. 
        This is dummy data hello and it will make absolutely no sense.
      </p>
      <small class="text-muted">User joined on Aug 2020</small>
      <div class="follow-btn">
        <a class="btn btn-dark" type="submit" href="" value="follow">Follow</a>
      </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body card-body justify-content-center align-items-center align-middle">
            <p><a href="{% url 'followers' user.username %}">Followers</a></p>
            <p><a href="{% url 'followers' user.username %}">{{ user.profile.followed_by.count }}</a></p> 
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body justify-content-center align-items-center align-middle">
            <p><a href="{% url 'following' user.username %}">Follows</a></p>
            <p><a href="{% url 'following' user.username %}">{{ user.profile.followed_by.count }}</a></p> 
          </div>
        </div>
      </div>
    </div>

        {% if user == request.user %}
          <a href="{% url 'profile_update'%}" class="button is-success">Update Profile</a>
        {% endif %}

        {% if user != request.user %}
            <a href="{% url 'conversation' user.id %}" class="button button is-info">Message</a>
            {% if request.user.profile in user.profile.followed_by.all %}
            <a href="{% url 'unfollow_user' user.username %}" class="button is-danger">Unfollow</a>
            {% else %}
            <a href="{% url 'follow_user' user.username %}" class="button is-success">Follow</a>
            {% endif %}
        {% endif %}
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
  </div>
<!-- End of section -->




{% endblock content %}